<!DOCTYPE html>
<html>
  <head>
    <title>
      coding projects</title>
      <style>
        h1 
        {
          font-size:40px;
          font-family: Italic;
          font-wight: normal;
          color: rgb(100,100,100);
          text-align: center;
        }
        #banner {
          wifth:1300%;
          height:650px;
          object-fit:cover;
        }
      
      </style>
    <body>
      <h1> coding projects</h1>
      
      <img id="banner" src="static/banner.jpg">
      <div style="text-align:center;"> 
      <button>go!</button>
      </div>


    </body>
  </head>

  
</html>